<%= form_with model: @article, class: 'new_article' do |f| %>
  <div class="form-group">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, class: 'form-label' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Show', article_path(@article) %> |
<%= link_to 'Back', articles_path %>
